<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Weather</title>
    style
        include ../static/style.css
</head>
<body>
    div.search
        <form action="/demo" method="get">
            <input type="text" name="city" placeholder="Search city,location....">
            <input type="submit" value="Search" id="btn">
        </form>
    <footer>
    |    &copy ADARSH BARANWAL || ALL RIGHTS RESERVED
    </footer>
    <script src='../static/a.js'></script>
</body>
</html>